* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.rainbow {
  height: 40vw;
  overflow: hidden;
}

.rainbow div {
  overflow: hidden;
  border-radius: 50%;
}
.rainbow > div {
  height: 80vw;
  width: 80vw;
  margin: 20px auto;
  background-color: rgb(229, 29, 57);
}

.rainbow > div > div {
  height: 78vw;
  margin: 2vw;
  background-color: rgb(245, 143, 35);
}

.rainbow > div > div > div {
  height: 76vw;
  margin: 2vw;
  background-color: rgb(244, 236, 37);
}

.rainbow > div > div > div > div {
  height: 74vw;
  margin: 2vw;
  background-color: rgb(87, 173, 72);
}

.rainbow > div > div > div > div > div {
  height: 72vw;
  margin: 2vw;
  background-color: rgb(28, 97, 174);
}

.rainbow > div > div > div > div > div > div {
  height: 70vw;
  margin: 2vw;
  background-color: rgb(91, 67, 155);
}
.rainbow > div > div > div > div > div > div > div {
  height: 68vw;
  margin: 2vw;
  background-color: rgb(255, 255, 255);
}
